<!DOCTYPE html>
<html >
<body  align="center" style="background-color:grey;">
<head>
  <meta charset="UTF-8">
  <title>Model Deployment</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 24px;
      }
    </style>
</head>

<body>
 <div class="login">
	<h1 style="text-align:center">DPR</h1>

    <form align="center" action="{{ url_for('predict')}}"method="post">
        <textarea name="ar1" rows="4" cols="50"  >area-1 </textarea>
        <textarea name="ar3" rows="4" cols="50"  >area-3 </textarea>
        <textarea name="ar4" rows="4" cols="50"  >area-4 </textarea>
        <br>

        <button align="center" type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        <button onclick="myFunction()">Copy text</button>
    </form>

<script src="hello.js">  
</script>

<br>
<ul>
{% for thing in (prediction_text) %}
  <li>{{thing}}</li>
{% endfor %}  
</ul>

 </div>


</body>
</html>
